body
{
    background-image: url('https://i.redd.it/vpz39alvbga71.png');
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.why-image {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  color: black;
}
.wiz {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 64);
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.wiz-email {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 64);
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.time, .timer {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 255, 64);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 70vh;
    max-width: 100vw;
}