@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  body {
    background-color: #001A23;
  }

  .pidor{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: x-large;
    text-align: center;
    border: #31493C solid;
    border-radius: 1cm;
    border-width: 0.2cm;
    -webkit-text-fill-color: #7A9E7E;
  }


  .bn31 {    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    text-decoration: none;
    width: 11em;
    z-index: 2;
    font-family: "Ubuntu Mono", monospace;
  }
  
  .bn31:hover {
    color: #fff;
  }
  
  .bn31 .bn31span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn31:hover .bn31span {
    background: transparent;
  }

  .pb{
    color: #386150;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -300%);
  }