@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1{
    font-family: "Anton", sans-serif;
  }

  body {
    background-color: #37423a;
  }